.resume-container {
	display: inline-block;
}

.column {
	display: block;
}

.contact-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.button-links {
	color: white;
	text-decoration: none;
}

.columnize {
	display: flex;
	flex-direction: column;
	align-items: center;
}
