.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-header a {
	color: white;
	margin: 0 25px;
}
