.App {
	text-align: center;
}

.logo {
	width: 3.5rem;
	height: 3.5rem;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70%;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.nav-link:hover {
	color: #ff5b24;
}
